/* 
.dashboard {
  font-family: sans-serif;
  height: 100vh; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  background-color: #B4EBE6;
}

  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header .menu button {
    margin-top: 30px;
    margin-left: -50px;
    margin-right: 100px;
    padding: 10px 16px;
    border: none;
    background-color: #80CBC4;
    cursor: pointer;
    color: #000000;
  }
  
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px; 
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px 16px;
  }
  .profile-image {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 20px;
    padding: 10px 16px;
  } */

  .dashboard {
    padding: 20px 0;
    height: 100vh; 
  width: 90vw; 
  justify-content: center;
  }
  
  .top-cards {
    display: flex;
    padding-left: 535px;
    padding-right: 400px;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    flex: 1;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    margin-left: 20px;
  }
  
  .card h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .value {
    background-color: #ffb347;
    color: #fff;
    padding: 8px 5px;
    border-radius: 20px;
    font-weight: bold;
    padding-left: 5px;
  }
  
  .date {
    background-color: #b7eae4;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    color: #000;
  }
  
  .parameters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 200px;
  }
  
  .parameter-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  .parameter-card h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
  }
  
  @media (max-width: 768px) {
    .top-cards {
      flex-direction: column;
    }
    
    .parameters-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .parameters-grid {
      grid-template-columns: 1fr;
    }
    
    nav {
      flex-wrap: wrap;
    }
    
    .nav-link {
      flex: 1;
      text-align: center;
      padding: 8px 10px;
      font-size: 14px;
    }
  }
  .card-link {
    text-decoration: none; /* เอาเส้นใต้ลิงก์ออก */
    flex: 1;
  }
  .parameter-link {
    text-decoration: none;
    flex: 1;
    
  }