.data-card {
  background-color: #FBF8EF;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 200px; /* กำหนด width */
  height: 100px; /* กำหนด height */
}

.data-card .card-title {
  font-size: 1.0em;
  margin-bottom: 20px; /* ลด margin */
  text-align: center; /* จัด title ให้อยู่ตรงกลาง */
  color: #000000;
}

.data-card .card-info {
  display: flex; /* ใช้ Flexbox เพื่อจัดวาง value และ date */
  justify-content: space-between; /* จัดวาง value และ date ให้ชิดซ้ายและขวา */
  align-items: center; /* จัดให้ value และ date อยู่กึ่งกลางแนวตั้ง */
}

.data-card .card-value {
  font-size: 0.8em; /* ปรับขนาด font */
  background-color: #FFB433;
  border-radius: 10px;
  color: #000000;
  padding: 5px; 
  padding-right: 20px;
  text-align: center; 
}

.data-card .card-date {
  font-size: 0.8em; /* ปรับขนาด font */
  color: #000000;
  background-color: #B4EBE6;
  border-radius: 10px;
  padding: 5px; 
  padding-left:30px;
}