.info-temp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b7eae4;
  }
  
  .info-temp-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
  }
  
  .info-temp-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }