.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .profile-logo-container {
    margin-bottom: 30px;
  }
  
  .profile-logo {
    width: 160px;
    height: 150px;
    border-radius: 50%;
  }
  
  .profile-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
  }
  .profile-email {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  
.page button {
      background-color: #e9eaff;
}
 .logout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout-button button{
  background-color: #e9eaff;
  color: rgb(2, 2, 2);
}