/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
.Bar-Header {
  background-color: #ffffff;
  height: 27vh; 
  width: 100vw; 
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #000000; 
}

body {
  background-color: #b7eae4;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
  padding-right: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

nav {
  display: flex;
  gap: 30px;
  
}

.nav-link {
  padding: 10px 30px;
  text-decoration: none;
  justify-content: space-between;
  color: #000000;
  background-color: #B4EBE6;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
  background-color: #FFB433;
}


main {
  min-height: 80vh;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  
  .logo {
    margin-bottom: 10px;
    
  }
}

@media (max-width: 480px) {
  nav {
    width: 100%;
    flex-wrap: wrap;
  }
  
  .nav-link {
    flex: 1;
    text-align: center;
    padding: 8px 10px;
    font-size: 14px;
  }
} */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

